<html>
<head>
    <style>
        .width300{
            width: 300px!important;
        }
        .border table, .border th, .border td {
            border: 1px solid black;
        }
        *{
            font-family:"B Nazanin",Tahoma!important; ;
        }
        table *{
            font-family:"B Nazanin",Tahoma!important; ;
        }
    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

</head>
<body>
<div style="direction:rtl;text-align:right;background-color:White">
    <div marginwidth="0" marginheight="0" style="width:100%;margin:0;padding:0;background-color:#f5f5f5;">
        <table  style="width: 100%;height: 100%;" cellpadding="10">
            <tbody>
            <tr>
                <td valign="top" style="border-collapse:collapse;border: solid 1px silver;" >
                    <div style="font-family:'B Nazanin',Tahoma!important;font-size: 14px">%{%text%}%</div>
                </td>
            </tr>
            <tr>
                <td style="font-family:'B Nazanin',Tahoma!important;font-size: 10px;color: grey;border: solid 1px silver;">
                    <div style="padding: 10px!important;text-align: center;font-size: 12px;color: orangered">
                        %{%autosender%}%
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>